<div class = "container-fluid">

    <div class = "coustom-card">

        <div class = "form-group">
            <input type="email"
            placeholder="email"
            class="form-conrol"/>
        </div>

        <div class = "form-group">
            <input type="email"
            placeholder="email"
            class="form-conrol"/>
        </div>

        <button class="btn btn-block btn-primary">Login</button>
  
      <p class="horizontal-line-text">
        <span>or</span>
      </p>

      <button class="btn btn-block google-sign-in" (click)="signInHandler()">
        <img [src]="'assets/images/google.svg'" alt="google"/>
        <span>Continue with Google</span>
      </button>

      <button class="btn btn-block google-sign-in" (click)="signInHandlerFacebook()">
        <img [src]="'assets/images/google.svg'" alt="google"/>
        <span>Continue with Facebook</span>
      </button>
    </div>
</div>
  